.border-box{
    border: 1px;
    border-style: solid;
    border-color: black;
    margin : 1em;
    padding: 1em;
    text-align: center;
}

.header{
    background-color: paleturquoise;
    margin: '1em'
}

.center{
    align-content:  center;
}